<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soma de números</title>
    
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    
</head>
<body>
    <h1>Soma de Números</h1>
    <form method="post">
        <label for="num1">Número 1:</label>
        <input type="number" id="num1" name="num1" required><br>
        <label for="num2">Número 2:</label>
        <input type="number" id="num2" name="num2" required><br>
        <br>
        <button type="submit">Somar</button>
    </form>
    {% if resultado %}
        <p>Resultado: {{ resultado }}</p>
    {% endif %}
</body>
</html>